*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what one rem is (that's why it's more a global definition than font style related)
  font-size: 62.5%; // 1 rem= 10px; 10px/16px= 62.5%
  font-family: "Roboto", sans-serif;

  @include respond(tab-land) {
    // 1rem= 9px; 9px/16px= 56.25%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1rem= 8px; 8px/16px= 50%
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1rem= 12px; 12px/16px= 75%
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

main {
  margin-top: 15rem;
  // min-width: 100vw;
  // min-height: 75vh;
  padding-top: 8vh;
  padding-bottom: 10rem;
  overflow: hidden;
  position: relative;

  @include respond(tab-port) {
    margin-top: 17rem;
  }

  @include respond(phone) {
    margin-top: 15rem;
  }

  // @include respond(big-desktop) {
  //   margin-top: 24.7vh;
  // }

  // background-color: aqua;
  // border: 3px soilid red;
}

.gloabalClass {
  // width: 100vw;
  box-sizing: border-box;
}

.hiddenNone {
  display: none;
}
// .theme--dark {
//   background-color: $color-grey-dark-3;
//   color: $color-white;
// }

// .theme--light {
//   background-color: $color-white;
//   color: $color-black;
// }
