.grid-area--3-rows {
  display: grid;
  grid-template-rows: 10rem 5fr 0.1fr;
  // border: 1px solid red;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.grid-area--2-rows {
  display: grid;
  grid-template-rows: 1.5fr 1.2fr;
  // border: 1px solid red;
  width: 100vw;
  overflow: hidden;
}

.row {
  &--1-of-2 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &--2-of-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &--1-of-3 {
    grid-row-start: 1;
    grid-row-end: 2;
    // border: 2px solid green;
  }
  &--2-of-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    // border: 2px solid purple;
  }
  &--3-of-3 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
