//COLORS
$color-primary: #ebebeb;

$color-secondary-dark: #111119;
$color-secondary-light: #35353c;

// $color-tertiary: #ff7d19;
$color-tertiary-light: #e39356;

// $color-logo-light: #e3d087;
// $color-logo-dark: #8c6a34;
$color-logo-light: #e1ae01;
$color-logo-dark: #e1ae01;

//FONTS
$default-font-size: 1.7rem;
$small-font-size: 1rem;
$medium-font-size: 1.5rem;
$large-font-size: 3rem;
$huge-font-size: 4rem;
