.button { 


&2 {
  padding: 12.5px 30px;
  margin-block:1.5rem;
  border: 0;
  border-radius: 100px;
  background-image: radial-gradient(circle at 100% 0%, #fff499 0, #f0d473 25%, #d4ab42 50%, #b88304 75%, #a56400 100%);
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  &:hover {
    background-image: radial-gradient(circle at 100% 0%, #fbe689 0, #eacb69 25%, #d4ab42 50%, #be8c17 75%, #ad7100 100%);
    box-shadow: 0 0 20px #8f8135;
    transition: all 1s;
  }
  
  &:active {
    background-color: #8f8135;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }

}



}