.calendar-booking {
    padding: 2rem;
    width: 90%;
    @include border-box;

}

.react-calendar--doubleView{
    width: 100% !important;
}

.react-calendar__tile--hasActive {
    background-color: #eacb69 !important;
}
.title{
    padding: auto;
      font-size: 3rem;
      margin-bottom: .5em;
      font-weight: 600;
      background-image: radial-gradient(circle at 100% 0%, #fff499 0, #f0d473 25%, #d4ab42 50%, #b88304 75%, #a56400 100%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      
}