.descriptionBlock {
  padding: 0 2rem;
  // border: 3px solid olivedrab;
  min-height: 7vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: calc($large-font-size + ($large-font-size/2));
  //   font-size: $default-font-size;
  margin: 4rem 2rem;
  &__title {
    font-size: $large-font-size;
    margin-bottom: 2rem;
  }
  &__info {
    font-size: $medium-font-size;
  }
}
