.formPage {
  @include flex-around;
  padding: 10rem;
  width: auto;
  height: auto;
  // border: 3px solid red;
}

.form {
  @include flex-around;
  height: 70rem;
  width: 80rem;
  justify-items: center;
  // border: 3px solid rgb(89, 0, 255);

  &__popup {
    height: 4rem;
    border: 1px solid #ff0000;
    color: #ff0000;
    background-color: #ffe1e1;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin: 0.5rem;
    h2 {
      text-align: center;
      align-self: center;
    }
  }

  &__reserv{
    width: 90%;
    @include border-box;
  }
}

#titleForm {
  height: 5rem;
}

.warning {
  color: red;
}

.colorL {
  padding: auto;
  font-size: 8rem;
  margin-bottom: 0.5em;
  font-weight: 600;
  background-image: radial-gradient(
    circle at 100% 0%,
    #fff499 0,
    #f0d473 25%,
    #d4ab42 50%,
    #b88304 75%,
    #a56400 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

&__version2{
  font-size: 3rem;
  background-image: radial-gradient(
    circle at 100% 0%,
    #fff499 0,
    #f0d473 25%,
    #d4ab42 50%,
    #b88304 75%,
    #a56400 100%
  );
  color: transparent;
  background-clip: text;
  
}}



.masterCont{
  display: flex;
  flex-direction: row;
}

.divConteiner{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  // border: 2px solid #a5001b;

&__2{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
}

.containerFormRe{
  display: flex;
  flex-direction: column;
  // border: 2px solid #a56400;
  
}


.contentConfirm{
  display: flex;
  justify-content: center;
			align-items: center;
			text-align: center;
}