.locationData {
  @include flex-between;
  overflow: hidden;
  font-size: $medium-font-size;
  z-index: 5;
  width: 100vw;
  color: $color-primary;
  padding: 1rem 09rem;
  background: linear-gradient(
    to top,
    $color-secondary-light,
    $color-secondary-dark
  );
  @include respond(tab-land) {
    padding: 1rem 5rem;
  }
  @include respond(tab-port) {
    padding: 1rem 2rem;
    font-size: $default-font-size;
  }
  @include respond(phone) {
    // top: 18vh;
  }

  &__city {
    width: 35%;
    margin-left: 1rem;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  // &__rating {
  //   // @include flex-around;
  //   // border: 1px solid white;
  //   width: 10%;
  //   @include respond(tab-land) {
  //     width: 13%;
  //   }
  //   @include respond(tab-port) {
  //     max-width: 20%;
  //   }
  //   @include respond(phone) {
  //     min-width: 44%;
  //   }
  //   @include respond(big-desktop) {
  //     min-width: 11%;
  //   }
  // }

  // &__rating-container {
  //   @include flex-between;
  //   // width: 25%;
  //   @include respond(tab-port) {
  //     width: 50%;
  //   }
  // }

  // &__rating-stars {
  //   cursor: pointer;
  //   &:not(:last-child) {
  //     margin-right: 0.5rem;
  //     text-align: right;
  //   }
  //   &:hover {
  //     transform: scale(1.2);
  //   }
  // }
}
