// .list-card {
//   display: grid;
//   gap: 2.7rem;
//   grid-auto-flow: dense;
//   grid-auto-rows: 20rem;
//   grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 8fr));
// }
.list-card {
  display: grid;
  gap: 2.7rem;
  grid-auto-flow: dense;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(3, minmax(min(100%, 35rem), 8fr));

  @include respond(tab-land) {
    grid-template-columns: repeat(2, minmax(min(100%, 35rem), 8fr));
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(min(100%, 35rem), 8fr));
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, minmax(min(100%, 10rem), 8fr));
  }
}

.list {
  margin: 15px auto;
  padding: 2rem;
  width: 100vw;
  h2 {
    font-size: $large-font-size;
    margin-bottom: 2rem;
  }
}
