.product-form {
  width: 95%;

  h2 {
    font-size: $large-font-size;
    margin-left: 2.5%;
    letter-spacing: 1px;
    line-height: 3.9rem;
    margin: 2rem 0;
  }

  &__container {
    // border: 1px solid rgba(0, 0, 0, 0.15);
    width: 95%;
    margin: 0 2.5%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    h1 {
      font-size: 3.5rem;
      margin-left: 2.5%;
      letter-spacing: 1px;
    }
  }
  &__generalinfo-block {
    // border: 1px solid green;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 14% 14% 14% 14% 40%;
    gap: 3%;
    height: 50rem;
    width: 100%;
    margin: 3rem 2.5%;
  }
  &__subcontainer {
    // border: 1px solid red;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3px;
    // ------------------General block info ----------------
    &--product-name {
      grid-area: 1/1/1/2;
    }
    &--product-brand {
      grid-area: 1/2/1/4;
    }
    &--product-model {
      grid-area: 2/1/2/2;
    }
    &--product-categories {
      grid-area: 2/2/2/4;
    }
    &--product-price {
      grid-area: 3/1/3/2;
    }

    &--product-availability {
      grid-area: 3/2/3/4;
    }

    &--product-license {
      grid-area: 4/1/4/2;
    }
    &--product-cities {
      grid-area: 4/2/4/4;
    }
    &--product-description {
      grid-area: 5/1/5/4;
      height: 14rem;
      padding: 0 2.5%;
    }

    // ------------------Politics block ------------------
    &--politics {
      // min-height: 15rem;
      height: auto;
      min-height: 100%;
      position: relative;
      h3 {
        margin: 3px;
      }
      label {
        margin: 3px;
      }
    }
    // ------------------Images block ------------------

    // &--img {
    //   grid-area: 1/1/1/2;
    // }
  }

  &__label {
    //  font-size: $small-font-size;
    font-size: $medium-font-size;
  }
  &__input {
    font-size: $medium-font-size;
    height: 4.6rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      // border: 1px solid #4096ff;
      border: 1px solid #e1ae01;
    }

    &--img {
      grid-area: 1/2/1/3;
    }
  }

  select {
    font-size: $medium-font-size;
    background-color: transparent;
    height: 4.6rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      // border: 1px solid #4096ff;
      border: 2px solid #e1ae01;
    }
  }

  &__textarea {
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &__textarea--2 {
    // height: auto;
    height: 65%;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &__features-block {
    // border: 2px solid goldenrod;
    display: grid;
    grid-template-columns: 70% 20%;
    // grid-template-rows: repeat(auto, minmax(70%, 70%));
    gap: 5%;
    width: 100%;
    margin: 3rem 2.5%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    grid-auto-flow: dense;

    max-height: fit-content;
    overflow: auto;

    &--first-row {
      display: grid;
      grid-template-columns: 70% 20%;
      grid-template-rows: 100%;
      gap: 10%;
      width: 100%;
      grid-area: 2/1/2/4;
      // border: 1px solid olivedrab;
      margin: 0 auto 3rem auto;
    }
    &--newfeatures {
      grid-area: 3/1/3/4;
      margin: 0 !important;
      // min-height: fit-content;
      max-height: fit-content;
      overflow: overlay;
    }
  }
  &__features {
    // margin: 0 2.5% 3rem 2.5%;
    grid-area: 1/1/1/2;
  }

  &__politic {
    grid-area: 1/1/1/2;
  }

  &__politics-block {
    // border: 1px solid purple;
    display: grid;
    grid-template-columns: 45% 45%;
    // grid-auto-rows: 100%;
    grid-auto-flow: dense;
    gap: 5%;
    width: 100%;
    // overflow: auto;

    margin: 3rem 2.5%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    h2 {
      grid-area: 1/1/1/4;
    }
    &--first-row {
      display: grid;
      grid-template-columns: 70% 20%;
      grid-template-rows: 100%;
      gap: 5%;
      width: 100%;
      grid-area: 2/1/2/4;
      // border: 1px solid olivedrab;
      margin: 0 auto 3rem auto;
    }
    &--newpolitics {
      grid-area: 3/1/3/4;
      margin: 0;

      display: grid;
      gap: 2.7rem;
      grid-auto-flow: dense;
      grid-auto-rows: 15rem;
      grid-template-columns: repeat(3, minmax(min(100%, 25rem), 8fr));
    }

    .button__plus--politics {
      grid-area: 1/2/1/4;
    }
    .button__delete-subcontainer {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
  &__politic-features {
    grid-area: 1/1/1/2;
  }
  &__images-block {
    // border: 1px solid palegreen;
    display: grid;
    grid-template-columns: 70% 20%;
    grid-auto-flow: dense;
    // grid-template-rows: repeat(auto, minmax(70%, 70%));
    gap: 5%;
    width: 100%;
    margin: 3rem 2.5%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-height: fit-content;
    overflow: auto;

    h2 {
      grid-area: 1/1/1/4;
    }

    &--first-row {
      display: grid;
      // grid-template-columns: 70% 20%;
      grid-template-columns: 30% 30% 20%;
      grid-template-rows: 100%;
      gap: 5%;
      width: 100%;
      grid-area: 2/1/2/4;
      // border: 1px solid olivedrab;
      margin: 0 auto 3rem auto;
      justify-content: left;

      select {
        grid-area: 1/1/1/2;
      }
    }
    &--newimgs {
      grid-area: 3/1/3/4;
      margin: 0;
      max-height: fit-content;
      overflow: overlay;
    }
  }

  &__button {
    bottom: -50%;
    transform: translateY(20%);
    margin: 0 50% 1.5em 50%;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    font-size: 2.2rem;
    border: 2px solid $color-secondary-light;

    &:hover {
      border: 1px solid transparent;
      backface-visibility: hidden;
      color: white;
      outline: 2px solid $color-logo-light;
    }
  }
  .button__plus--img {
    grid-area: 2/2/2/4;
  }

  .errors {
    &Features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 7rem), 3fr));
      gap: 1rem;
    }
    &Images {
      grid-area: 2/1/2/2;
      display: grid;
      grid-template-columns: repeat(2, minmax(min(100%, 3rem), 3fr));
      gap: 1rem;
    }
  }
}
