
.form__reserv {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 2rem 5%;
  padding: 2rem;
  width: 90%;
  @include respond(tab-port){
    grid-area: 1/1/1/4;
  }
}

.reserv {
  display: grid;
  // justify-items: center;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.6fr 0.6fr 0.6fr 0.5fr;
  grid-template-areas:
    "datos detalle"
    "calendario detalle"
    "arrive detalle"
    "politics politics";
  align-items: center;
  justify-items: center;
  margin-block: 3rem;
  position: relative;
  
  
  @include respond(tab-port) {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(auto-fit, minmax(min(100%, 30rem), 5fr));
  }


}

.cardDetail {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px #ccc;
  width: 90%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  justify-content: start;
  grid-area: detalle;
  font-size: 1.7rem;
  align-self: start;
  font-size: $default-font-size;

  &__check {
    width: 90%;
    height: 5rem;
    margin: 1rem 0;
    border-top: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    padding: 1rem;
  }
  img {
    width: 30rem;
  }

  &__info {
    width: 90%;
    height: 4rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    color: rgb(53, 53, 60, 0.98);
    // border: 1px solid olivedrab;
    span {
      font-weight: bold;
    }

   
  }
  h1 {
    color: $color-titles;
  }

  button {
    bottom: -50%;
    transform: translateY(20%);
    margin: 1em 0;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    font-size: 2.2rem;
    border: 2px solid $color-secondary-light;

    &:hover {
      border: 1px solid transparent;
      backface-visibility: hidden;
      color: white;
      outline: 2px solid $color-logo-light;
    }
    &:hover::before {
      width: 250%;
    }
  }

  @include respond(tab-port){
    grid-area: 4/1/4/4;
  }
}
